
.DS_Store

server/.env
server/node_modules/
server/dist/
server/build/
server/coverage/
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/*.local
server/*.cache
server/*.tmp
server/*.swp

client/.env
client/node_modules/
client/dist/
client/build/
client/coverage/
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/*.local
client/*.cache
client/*.tmp
client/*.swp